<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" style="margin-bottom: 15px">
    <%= f.label :avatar, style:"margin-bottom:-10px"  %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field" style="margin-bottom: 15px">
    <%= f.label :username, style:"margin-bottom:-10px"  %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field" style="margin-bottom: 15px">
    <%= f.label :password, style:"margin-bottom:-10px" %><br />
    <%= password_field_tag %>
  </div>
  <div class="field" style="margin-bottom: 15px">
    <%= f.label :email, style:"margin-bottom:-10px" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field" style="margin-bottom: 15px">
    <%= f.label :full_name, style:"margin-bottom:-10px" %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
