<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Full name:</b>
  <%= @user.full_name %>
</p>

<% if !@user[:sc_access_token] %>

<% client = Soundcloud.new(:client_id => SC_ID, :client_secret =>SC_SECRET, :redirect_uri => )%>
<%= link_to "Connect to Soundcloud", client.authorize_url() %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
