<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>

<!-- TODO: show users sounds -->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
