<script type="text/javascript">
var activ = function(id) {
	var elems = [$('#syneths'), $('#followed_users'), $('#followers')];
	var hdrs = [$('#syneths_header'), $('#followed_users_header'), $('#followers_header')];
	var idx = 0;
	while (idx < elems.length) {
		var elem = elems[idx];
		if (elem.attr('id') == id) {
			elem.show();
			hdrs[idx].addClass('active');
		} else {
			elem.hide();
			hdrs[idx].removeClass('active');
		}
		idx = idx + 1;
	}
};

var write_comment = function(sound_id) {
	$('#comment_display_' + sound_id).hide();
	$('#comment_write_' + sound_id).show();
	$('#write_link_' + sound_id).hide();
	$("#comment_none_" + sound_id).hide();
};

</script>

<p>
<%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>

<!-- if user is signed in and is viewing their profile -->
<% if signed_in? && current_user.id == @user.id %>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |

<!-- if user is signed in and is viewing someone's profile who they haven't followed -->
<% elsif signed_in? && !current_user.following?(@user) %>

<%= link_to 'Follow', { controller: "relationships", action: "create", user_id: @user.id},
						{ method: "post", remote: true } %> |

<% elsif signed_in? && current_user.following?(@user) %>

<%= link_to 'Unfollow', { controller: "relationships", action: "destroy", user_id: @user.id},
						{ method: "delete", remote: true } %> |

<% end %>

<%= link_to 'Back to users', users_path %>

<div class="navbar" style="margin-top: 15px">
  <div class="navbar-inner" >
    <div class="container">
      <ul class="nav">
        <li id="syneths_header" class="active"><%= link_to_function 'syneths', 'activ("syneths")'%></li>
        <li id="followed_users_header"><%= link_to_function 'followed users', 'activ("followed_users")'%></li>
        <li id="followers_header"><%= link_to_function 'followers', 'activ("followers")'%></li>
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->


<!--  SYNETHS TABLE -->
<div id="syneths">
	<table class="table">
		<% @user.get_syneths.each do |syneth| %>
			<%= render 'sounds/syneth', :syneth => syneth %>
		<% end %>
	</table>
</div>

<!--  FOLLOWED USERS TABLE -->
<div id="followed_users" style="display:none">
<% if @user.followed_users.length > 0 %>
	<table class="table">
		<% @user.followed_users.each do |usr| %>
		  <tr>
		    	<td><%= link_to usr.username, usr %></td>
		    	<td><% if signed_in? && current_user.id == @user.id %>
		    		<%= link_to "Unfollow #{usr.username}",
										{ controller: "relationships", action: "destroy", user_id: usr.id},
										{ method: "delete", remote: true } %>
				<% end %>
			</td>
		  </tr>
		<% end %>
	</table>
<% else %>
	<% if current_user == @user %>
		You are not following anyone yet.
	<% else %>
	  <%= @user.username %> is not following anyone yet.
	<% end %>
<% end %>
</div>

<!--  FOLLOWERS TABLE -->
<div id="followers" style="display:none">
<% if @user.followers.length > 0 %>
	<table class="table" id="followers_table">
		<% @user.followers.each do |usr| %>
		  <tr>
		    <td><%= link_to usr.username, usr %></td>
		    <td></td>
		  </tr>
		<% end %>
	</table>
<% else %>
		<% if current_user == @user %>
		You don't have any followers.
	<% else %>
	  <%= @user.username %> does not have any followers.
	<% end %>
	<% if signed_in? && @user != current_user %>
	Why don't you <%= link_to "follow #{@user.username}",
										{ controller: "relationships", action: "create", user_id: @user.id},
										{ method: "post", remote: true } %>?
	<% end %>
<% end %>
</div>
