<script type="text/javascript">
var activ = function(id) {
	var elems = [$('#syneths'), $('#followed_users'), $('#followers'), $('#syneth_stream')];
	var hdrs = [$('#syneths_header'), $('#followed_users_header'), $('#followers_header'), $('#syneth_stream_header')];
	var idx = 0;
	while (idx < elems.length) {
		var elem = elems[idx];
		if (elem.attr('id') == id) {
			elem.show();
			hdrs[idx].addClass('active');
		} else {
			elem.hide();
			hdrs[idx].removeClass('active');
		}
		idx = idx + 1;
	}
};

var write_comment = function(sound_id) {
	$('#comment_display_' + sound_id).hide();
	$('#comment_write_' + sound_id).show();
	$('#write_link_' + sound_id).hide();
	$("#comment_none_" + sound_id).hide();
};

</script>

<p>
<%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>

<!-- if user is signed in and is viewing their profile -->
<% if signed_in? && current_user.id == @user.id %>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |

<!-- if user is signed in and is viewing someone's profile who they haven't followed -->
<% elsif signed_in? && !current_user.following?(@user) %>

<%= link_to 'Follow',  { controller: "relationships", action: "toggle_follow", user_id: @user.id },
						{ method: "get", remote: true, :id=> "follow"} %> |

<% elsif signed_in? && current_user.following?(@user) %>

<%= link_to 'Unfollow', { controller: "relationships", action: "toggle_follow", user_id: @user.id},
						{ method: "get", remote: true, :id=> "follow"} %> |

<% end %>

<%= link_to 'Back to users', users_path %>

<div class="navbar" style="margin-top: 15px">
  <div class="navbar-inner" >
    <div class="container">
      <ul class="nav">
        <li id="syneths_header" class="active"><%= link_to_function "#{@user.username}'s syneths", 'activ("syneths")'%></li>
        <li id="followed_users_header"><%= link_to_function 'followed users', 'activ("followed_users")'%></li>
        <li id="followers_header"><%= link_to_function 'followers', 'activ("followers")'%></li>
         <li id="syneth_stream_header"><%= link_to_function 'syneth stream', 'activ("syneth_stream")'%></li>
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->


<!--  YOUR SYNETHS TABLE -->
<div id="syneths">
	<table class="table" id="your_syneths_table">
		<% if @user.get_syneths.count > 0 %>
			<% @user.get_syneths.each do |syneth| %>
				<%= render 'sounds/syneth', :syneth => syneth %>
			<% end %>
		<% else %>
			<%= render 'default_syneth_row', user: @user %>
		<% end %>
	</table>
</div>

<!--  FOLLOWED USERS TABLE -->
<div id="followed_users" style="display:none">
	<table class="table" id= "followed_users_table">
		<% if @user.followed_users.count > 0 %>
			<% @user.followed_users.each do |usr| %>
				<tr id="unfollow_row_<%= usr.id %>">
				    	<td><%= link_to usr.username, usr, id: "unfollow_cell1_#{usr.id}" %></td>
				    	<% if signed_in? && current_user.id == @user.id %>
				    	<td>
				    		<%= link_to "Unfollow #{usr.username}",
												{ controller: "relationships", action: "destroy", user_id: usr.id},
												{ method: "delete", remote: true, id: "unfollow_cell2_#{usr.id}"} %>
					</td>
					<% end %>
			  </tr>
			<% end %>
		<% else %>
			<%= render 'default_followed_users_row', user: @user %>
		<% end %>
	</table>
</div>

<!--  FOLLOWERS TABLE -->
<div id="followers" style="display:none">
	<table class="table" id="followers_table">
		<% if @user.followers.length > 0 %>
			<% @user.followers.each do |follower| %>
			<%= render 'follower_row', usr: follower %>
			<% end %>
		<% else %>
			<%= render 'default_followers_row', user: @user %>
		<% end %>
	</table>
</div>

<!--  SYNETH STREAM TABLE -->
<div id="syneth_stream" style="display:none">
	<table class="table" id="syneth_stream_table">
		<% if @user.followed_users_syneths.count > 0 %>
			<% @user.followed_users_syneths.each do |syneth| %>
				<%= render 'sounds/syneth', :syneth => syneth %>
			<% end %>
		<% else %>
		<tr>
			<% if current_user == @user %>
				<td>No syneths in your stream! Follow some <%= link_to "people", users_path %>.</td>
			<% else %>
			  <td>No syneths in <%= @user.username %>'s stream.</td>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>
